<h3>Required hours</h3>
<app-opening-hours [formGroup]="openingHoursRequired"></app-opening-hours>
<div>valid : {{ openingHoursRequired.valid | json }}</div>
<div>errors : {{ openingHoursRequired.errors | json }}</div>
<div>value : {{ openingHoursRequired.value | json }}</div>

<hr>

<h3>Not required hours</h3>
<app-opening-hours [formGroup]="openingHours"></app-opening-hours>
<div>valid : {{ openingHours.valid | json }}</div>
<div>errors : {{ openingHours.errors | json }}</div>
<div>value : {{ openingHours.value | json }}</div>